/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

.post-content p, .post-content li {
    font-size: 16px;
}

.input_area pre, .input_area div {
    font-size: 110%;
}


// alerts copied from  https://github.com/coetzeer/blog_test/blob/e50b316376ad7aabe807b57fddd3bbf13e674a26/assets/css/callout.css
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1
}




//make the math with horizontal scrolling
.math-scroll {
  overflow-x: auto;
  white-space: nowrap;
}

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "fastpages-dracula-highlight"; 
